.App, html {
  text-align: center;
  background-image: linear-gradient(90deg, black, silver, black)
}

.list-card {
  display: inline-block;
  width: 40%;
  min-width: 300px;
  margin: 10px 5%;
}

.itstrue {
  color: gray;
  text-decoration: line-through;
}

.list-item {
  padding: 5px
}